@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    transition: all 0.5s;
}

@media(max-width:800px) {
    .container {
        transition: all 0.1s;
    }
}

body {
    background-color: rgb(209, 255, 241);
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 45px;
}

.title-wrapper {
    margin: 20px;
    padding: 20px;
}

#apps-tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app-wrapper {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.app {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb2;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0000001c;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.app img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 0;
}

.app:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #0000001c;
}

.appname {
    color: #000;
    max-width: 80px;
    text-align: center;
    transition: color 0.5s ease-in-out;
    font-weight: 700;
}

.appname:hover {
    color: #525252;
}

a {
    text-decoration: none;
}

#copyright {
    background-color: #ffffff67;
    width: 100%;
    min-height: 30px;
    margin: 0px;
    margin-bottom: 0;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* 404 code style w_w */

@keyframes changecolor {
    0% {
        color: #fe0000;
    }
  
    40% {
        color: #3cf10e
    }
  
    80% {
        color: #0024ff
    }
  
    90% {
        color: #c500ff
    }
  
    95% {
        color: #ff009c
    }
  
    100% {
        color: #fe0000
    }
}

.changeClr {
    animation: changecolor 15s infinite alternate-reverse;
}

button {
    padding: 22px;
    min-width: 310px;
    border-radius: 50px;
    border: none;
    width: 20%;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Poppins';
    background-color: #ffffffcc;
    box-shadow: 5px 5px 5px #0000001c;
    transition: all 0.5s;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #fdfdfdcc;
    box-shadow: 10px 10px 10px #0000001c;
    color: rgb(35, 157, 237);
}