body {
    margin: 0;
    background-color: #252525;
    user-select: none;
}

#container {
    position: relative;
    width: 1200px;
    height: 800px;
    border: 10px solid #fff;
    margin: 0 auto;
    overflow: hidden;
}
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    99% { 
        transform: rotate(360deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}

@keyframes spin-two {
    0% { 
        transform: rotate(-0deg); 
    }
    99% { 
        transform: rotate(-360deg); 
    }
    100% { 
        transform: rotate(-0deg); 
    }
}

#broom {
    position: absolute;
    transition: transform 1.5s ease-out;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    height: 150px;
    width: 150px;
}

#pumpkin {
    position: absolute;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    left: -1000px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    height: 100px;
    width: 90px;
}


#pumpkin-2 {
    position: absolute;
    left: -1000px;
    animation-name: spin-two;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    height: 100px;
    width: 90px;
}

h1 {
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 30px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


h2 {
    color: #ffffff;
    position: absolute;
    top: 50px;
    left: 30px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#mouse {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: none;
}

.one {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#rat {
    width: 100px;
    height: 100px;
}

#wintext {
    display: none;
}