@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    transition: all 0.5s;
}

@media(max-width:800px) {
    .container {
        transition: all 0.1s;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fefae0;
    overflow: hidden;
}

#play-pause-button {
    display: flex;
    justify-content: center;
    transition: 0.5s;
    background-color: #ffffff50;
    border-radius: 30px;
}

#video-wrapper {
    width: 95%;
    height: 300px;
}

button {
    padding: 30px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    row-gap: 5px;
    margin: 5px;
    transition: all 0.5s;
    background-color: #ffffff3c;
}

button:hover {
    cursor: pointer;
    background-color: #fffdba4d;
}

.title {
    font-size: 40px;
    transition: all 0.5s;
}

video {
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.5s ease-in-out, transform 0.5s;
}

#video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    background-color: #ffffff67;
    width: 100%;
    min-height: 30px;
    margin: 0px;
    margin-bottom: 0;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    padding-left: 17px;
}