@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    transition: all 0.5s;
}

@media(max-width:800px) {
    .container {
        transition: all 0.1s;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fefae0;
    overflow: hidden;
    font-weight: 800;
}

#copyright, #go-back-wrapper {
    background-color: #ffffff67;
    width: 100%;
    min-height: 30px;
    margin: 0px;
    margin-bottom: 0;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#go-back-wrapper {
    display: none;
}

p {
    padding-left: 17px;
}

#hours-input, #minutes-input, #seconds-input, #end-text-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    margin: 5px;
}

#end-text-input {
    margin-bottom: 10px;
}

#time-input {
    width: 100%;
}

#start-timer-btn {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #8fffde;
    background: linear-gradient(143deg, rgba(143, 255, 222, 1) 0%, rgba(172, 189, 255, 1) 49%, rgba(245, 227, 255, 1) 83%, rgba(254, 165, 255, 1) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    font-weight: 600;
}

#start-timer-btn:hover {
    background: #8fffde;
}

#timer-display {
    font-size: 35vw;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Noto Sans Mono', monospace;
    word-wrap: break-word;
}

#go-back-btn {
    width: 100%;
    font-size: 18px;
    background-color: #8fffde;
    background: linear-gradient(143deg, rgba(143, 255, 222, 1) 0%, rgba(172, 189, 255, 1) 49%, rgba(245, 227, 255, 1) 83%, rgba(254, 165, 255, 1) 100%);
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 38px;
    display: none;
}

#go-back-btn:hover {
    background: #8fffde;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}